* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  background:black;
}


.container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;

  .card {

    background-color: transparent;
    padding: 0 20px;
    width: 100%;

    .title-card {

      font-size: 64px;
      font-weight: 700;
      margin-bottom: 36px;
      color:#fff
    }

    p {

      font-size: 32px;
      margin-bottom: 36px;
      color:#C90103;
    }

    h2 {

      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 136px;
      color:#fff
    }

    .title-icons {

      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: #fff;
      width: 100%;
      margin-bottom: 33.5px;
    }
    .icons {

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .icon {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;

        h3 {

          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          margin-bottom: 15px;
          margin-top: 13px;
          color: #fff;
        }

      }
    }



  }

  .form {

    background-color: transparent;
    border-radius: 15px;
    box-shadow: 14px 10px 41px 11px rgba(215, 0, 0, 0.3);
    width: 100%;

    form {

      padding: 29px 33px 34px 46px;
      display: flex;
      flex-direction: column;

      h1 {

        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        color:#fff
      }
      label {

        font-size: 16px;
        margin-bottom: 17px;
        color:#fff
      }

      input, textarea {

        background-color: transparent;
        border: solid #fff 1px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        padding: 9px 10px;
        margin-bottom: 33px;
        color:#fff
      }

      textarea {

        height: 100px;
        color:#fff
      }

      button[type="submit"] {

        background-color: transparent;
        border: solid #fff 1px;
        padding: 10px;

        span {

          color: #fff;
          font-size: 12px;
          font-weight: 700;
          line-height: 13.2px;
          letter-spacing: 16%;
          margin: 7px;
        }
      }

    }
  }
}

@media (max-width: 412px) {
  .container {
    .card, .form {
      width: calc(100% - 40px);
      margin: auto;
    }
    .card {
      margin-bottom: 20px;
    }
    .card .icon {
      width: calc(100% - 15px);
      flex-direction: row;
    }
    .card .icon h3 {
      margin-left: 10px ;
    }
  }
}

@media  ( min-width: 413px)and (max-width: 767px) {
  .container {
    .card, .form {
      width: calc(100% - 80px);
      margin: auto;
    }
    .card {
      margin-bottom: 50px;
    }
  }
}
@media  ( min-width: 768px)and (max-width: 992px) {
  .container {
    .card, .form {
      width: calc(100% - 80px);
      margin: auto;
    }
    .card {
      margin-bottom: 50px;
    }
  }
}



@media  (min-width: 992px) {
  .container {
    justify-content: space-between;
    max-width: 1215px;
    margin: 0 auto;
  .card, .form {
    width: calc(50% - 30px);
  }
}
}